html {

  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #363535;
  color: #fff;
}

.script {
  font-family: "Dancing Script", cursive;
  color: #ca0a64;
}

@media only screen and (min-width: 38em) {

  .script {
    color: #f0e165;
  }
}
@media only screen and (min-width: 60em) {

  .box-1 {
    text-align: left;
  }

  .audrey {
    text-align: left;
  }


}
