html {

  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #363535;
  color: #fff;
}

.script {
  font-family: "Dancing Script", cursive;
  color: #ca0a64;
}

.border {
  border-style: dotted;
  color: #fff;
  border-width: thick;
}

@media only screen and (min-width: 60em) {

  .box-1 {
    text-align: left;
  }

  .audrey {
    text-align: left;
  }

  .script {
    color: #ca0a64;
  }

}
