@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #363535;
  color: #ffffff;
}

.script {
  font-family: "Dancing Script", cursive;
  color: #ca0a64;
  font-size: 1.75em;
}

@media only screen and (min-width: 38em) {

  .script {
    color: #f0e165;
  }
}
@media only screen and (min-width: 60em) {

  html {
    font-size: 2.75em;
  }

  .box-1 {
    text-align: left;
  }

  .audrey {
    text-align: left;
  }


}
